<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @blog.body %>
</p>

<%= link_to 'Editar', edit_blog_path(@blog) %> |
<%= link_to 'Regresar', blogs_path %>
